@code {


    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">@Label</label>
    <div class="col-sm-9">
        @ChildContent
    </div>
</div>